<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include "base.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>单元测试</title>

    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <link href="/static/css/study.css" rel="stylesheet">
    <link href="/static/css/quiz.css" rel="stylesheet">
</head>
<body>
<!-- 导航栏
================================================== -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" id="showhome">KitchenAir.MOOC</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="showkc"><a href="#">课程</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <p class="navbar-collapse navbar-text  navbar-right">Welcome,
                        <a href="/user/" class="navbar-link bg-info">{{ userinfo.nickname }} </a>
                        <a href="/logout" class="navbar-link bg-danger">Exit</a>
                    </p>
                {% else %}
                    <div class="navbar-collapse navbar-right">
                        <a href="/login">
                            <button class="btn btn-primary navbar-btn">Sign in</button>
                        </a>
                        <a href="/register">
                            <button class="btn btn-default navbar-btn">Register</button>
                        </a>
                    </div>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" action="/search/" method="get">
                <input id="search_text" name='search_text' type="text" class="form-control" placeholder="想看啥搜啥"
                       onkeydown="get_search()"/>
                <!--<input type="submit" value="搜索">-->
            </form>
            <script type="text/javascript">
                function get_search() {
                    if (event.keyCode == 13) {
                        var content = $("#search_text").val();
                        window.location.href = "./search/?search_text=" + content;
                    }
                }
                function get_course_class(contents) {
                    var content_class = contents;
                    $.ajax({
                        type: 'get',
                        url: "/get_course_class/",
                        data: {'content_class': content_class,},
                        success: function (responseData) {
                            $('#showcourse').html(responseData);
                        }
                    })
                }
                $(document).ready(function () {
                    $('#all').click(function () {
                        var content_class = 'all';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                    $('#nature').click(function () {
                        var content_class = 'nature';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                    $('#art').click(function () {
                        var content_class = 'art';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                    $('#society').click(function () {
                        var content_class = 'society';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                    $('#computer').click(function () {
                        var content_class = 'computer';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                })
            </script>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<!-- 主体
======================================================= -->
<div class="container myBox1">
    <div class="quiz">
    <a class="btn btn-info right" href="/study_index/{{ course_id }}" role="button">返回 <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
        <form action="/quiz/{{ course_id }}/{{ unit_cnt }}/{{ section_cnt }}" method="post">
            {% csrf_token %}
            {% for question in Question %}
                <div class="myCenter myBox2">
                    {% if question.title %}
                        <div class="row">
                            <p>({{ forloop.counter }}){{ question.title }}</p>
                        </div>
                    {% endif %}
                    {% if question.image %}
                        <div class="row">
                            <img class="img-responsive quiz" src="{{ question.image }}" alt=' question '>
                        </div>
                    {% endif %}

                    {% ifequal question.question_type '0' %}
                        <div class="row quiz">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="T" name="judge{{ forloop.counter0 }}" {% if Answer %}
                                               disabled {% endif %}
                                                {% ifequal question.user_answer 'T' %} checked {% endifequal %}>True<br/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row quiz">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="F" name="judge{{ forloop.counter0 }}" {% if Answer %}
                                               disabled {% endif %}
                                                {% ifequal question.user_answer 'F' %} checked {% endifequal %}>False<br/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% if Answer %}
                            <div class="row quiz">
                                <h5><font color="green">
                                正确答案是 <font color="blue">{{ question.answer }}</font>.你的答案是{{ question.user_answer }}.
                                {% ifequal question.user_answer question.answer %}你是正确的{% else %}你是错误的{% endifequal %}
                                </font></h5>
                            </div>
                        {% endif %}
                    {% else %}
                        {% ifequal question.question_type '1' %}
                            <div class="row quiz">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="A" name="option{{ forloop.counter0 }}"
                                                    {% if Answer %} disabled {% endif %}
                                                    {% ifequal question.user_answer 'A' %}
                                                   checked {% endifequal %}>A.{{ question.option_a }}
                                            {% if question.image_a%}
                                            <img src="{{ question.image_a }}" alt="A" width="138" height="30">
                                            {%endif%}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row quiz">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="B" name="option{{ forloop.counter0 }}"
                                                    {% if Answer %} disabled {% endif %}
                                                    {% ifequal question.user_answer 'B' %}
                                                   checked {% endifequal %}>B.{{ question.option_b }}
                                            {% if question.image_b%}
                                            <img src="{{ question.image_b }}" alt="B" width="138" height="30">
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row quiz">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="C" name="option{{ forloop.counter0 }}"
                                                    {% if Answer %} disabled {% endif %}
                                                    {% ifequal question.user_answer 'C' %}
                                                   checked {% endifequal %}>C.{{ question.option_c }}
                                            {% if question.image_c%}
                                            <img src="{{ question.image_c }}" alt="C" width="138" height="30">
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row quiz">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="D" name="option{{ forloop.counter0 }}"
                                                    {% if Answer %} disabled {% endif %}
                                                    {% ifequal question.user_answer 'D' %}
                                                   checked {% endifequal %}>D.{{ question.option_d }}
                                            {% if question.image_d%}
                                            <img src="{{ question.image_d }}" alt="D" width="138" height="30">
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            {% if Answer %}
                                <div class="row quiz">
                                    <h5><font color="green">
                                正确答案是 <font color="blue">{{ question.answer }}</font>.你的答案是{{ question.user_answer }}.
                                {% ifequal question.user_answer question.answer %}你是正确的{% else %}你是错误的{% endifequal %}
                                        </font></h5>
                                </div>
                            {% endif %}
                        {% endifequal %}
                    {% endifequal %}
                </div>
            {% endfor %}
            <input class="btn btn-lg btn-success" type="hidden" name="DoQuiz"
                   value=" {% if Answer %}Redo{% else %}Do{% endif %}">
            <input class="btn btn-lg btn-success" type="submit"
                   value="{% if Answer %}Redo{% else %}Submit Answer{% endif %}">
        </form>
    </div>
    <hr class="featurette-divider">
</div>


<!-- {% for unit in course.units.all %}
    <label>unit.title</label><br>>
    {% for section in unit.sections.all %}
        <a href="/study/?cid={{ course.id }}&ucnt={{ unit.counter }}&scnt={{ section.counter }}">section:
    {{ section.counter }}</a>
    {% endfor %}
{% endfor %}
<object data='../{{ video }}' height="200" width="200"/> -->

<!-- FOOT
=========================================================== -->
<footer class="container marketing">
    <p class="pull-right"><a href="#">飞回顶部~</a></p>

    <p>&copy; 2015 Kitchen Air &middot; <a href="#">友情链接</a> &middot; <a href="#">关于我们</a></p>
</footer>

<!-- script
=========================================================== -->
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>