<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      {% include "base.html" %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MOOC</title>

    <link href="../static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/index2.css">

    <script src="../static/js/ie-emulation-modes-warning.js"></script>
    <script src="../static/js/index.js"></script>    
    <script type="text/javascript" src="../static/js/index2.js"></script>
  </head>
  <body>
  <!-- 导航栏
  ================================================== -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" id="showhome">KitchenAir.MOOC</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="showkc"><a href="/">课程</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- {% if user %} -->
                <p class="navbar-collapse navbar-text  navbar-right">Welcome,
                    <a href="/user/{{ user.id }}" class="navbar-link bg-info">{{ userinfo.nickname }}</a>
                    <a href="/logout" class="navbar-link bg-danger">Exit</a>
                </p>
                <!-- {% else %} -->
                <div class="navbar-collapse navbar-right">
                    <a href="/login"><button class="btn btn-primary navbar-btn">Sign in</button></a>
                    <a href="/register"><button class="btn btn-default navbar-btn">Register</button></a>
                </div>
                <!-- {% endif %} -->
          </ul>
          <form class="navbar-form navbar-right" action="/search/" method="get">
                <input id="search_text" name='search_text' type="text" class="form-control" placeholder="想看啥搜啥"
                       onkeydown="get_search()"/>
                <!--<input type="submit" value="搜索">-->
            </form>
            <script type="text/javascript">
                function get_search() {
                    if (event.keyCode == 13) {
                        var content = $("#search_text").val();
                        window.location.href = "./search/?search_text=" + content;
                    }
                }
                function get_course_class(contents) {
                    var content_class = contents;
                    $.ajax({
                        type: 'get',
                        url: "/get_course_class/",
                        data: {'content_class': content_class,},
                        success: function (responseData) {
                            $('#showcourse').html(responseData);
                        }
                    })
                }
                $(document).ready(function () {
                    $('#all').click(function () {
                        var content_class = 'all';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                    $('#nature').click(function () {
                        var content_class = 'nature';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                    $('#art').click(function () {
                        var content_class = 'art';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                    $('#society').click(function () {
                        var content_class = 'society';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                    $('#computer').click(function () {
                        var content_class = 'computer';
                        $.ajax({
                            type: 'get',
                            url: "/get_course_class/",
                            data: {'content_class': content_class,},
                            success: function (responseData) {
                                $('#showcourse').html(responseData);
                            }
                        })
                    })
                })
            </script>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- 搜索结果
    ========================================================== -->
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- 左侧 -->
        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron">
            <h1>Hi</h1>
            <p>这是我们为您搜索到的课程</p>
          </div>
            <div id='showcourse' class="row">
                {% include 'courseclass.html' %}
            </div>
        </div><!--end左侧-->
          <script type="text/javascript">
                function get_search(){
                    if (event.keyCode == 13)
                    {
                        var content=$("#search_text").val();
                        window.location.href="./search/?search_text="+content;
                    }
                }
            </script>
      </div>
      <hr class="featurette-divider">
    </div><!--end课程-->
    
  <!-- FOOT
  =========================================================== -->
    <footer class="container marketing">
      <p class="pull-right"><a href="#">顶~飞回顶部~</a></p>
      <p>&copy; 2015 Kitchen Air &middot; <a href="#">友情链接</a> &middot; <a href="#">关于我们</a></p>
    </footer>
    
  <!-- script
  =========================================================== -->
    <script src="../static/js/holder.min.js"></script> 
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>