<!DOCTYPE html>
<html lang="zh-CN">	
  <head>
      {% include "base.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="User Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />

    <title>KitchenAir MOOC 用户登录</title>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="../../static/css/login.css" rel='stylesheet' type='text/css' />
    <!--web-fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--/web-fonts-->
  </head>
  <body>
    <!--User-Login-->
    <h1>登录 MoocKitchen</h1>
    <div class="avtar">
	  <img src="../../static/img/avtar.png" />
    </div>
	<div class="login-form">
	  <p>New user?<a href="/register/">Register here!</a></p>
	  <form action="/login/" method="post">
          {% csrf_token %}
		<div class="form-text">
		  <input type="text" class="text" name="username" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}" >
		  <input type="password" name="password" value="1234567" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '1234567';}">
		</div>
		<input type="submit"value="GO" >
	  </form>
        <div id="error"><i class="glyphicon glyphicon-remove-circle"></i> {{ loginform.errors }}</div>
	</div>
    <!--/User-Login-->
    <!--start-copyright-->
    <div class="copy-right">
	  <p>2015&nbsp;@KitchenAir</p> 
    </div>
    <!--//end-copyright-->	
  </body>
</html>