body {
  min-height: 800px;
  padding-top: 50px;
  padding-bottom: 40px;
  font-family: "微软雅黑";
  color: #5a5a5a;
}

.mycontainer {
	padding-top: 40px;
}
.mycontainer .myleft {
	width: 65%;
}
.mycontainer .myright {
	width: 35%;
}
.panel-body p {
	text-indent:2em;
	margin: 20px;
}
.text_center {
	text-align: center;
}
.myh3 {
	font-size: 20px;
}
.btn > a:link {
text-decoration: none;
color: #fff;
}
.btn > a:visited {
text-decoration: none;
color: #fff;
}
.btn > a:hover {
text-decoration: none;
color: #fff;
}
.btn > a:active {
text-decoration: none;
color: #fff;
}